[Desktop Entry]
Name=LSW Off
Type=Application
Exec=/usr/bin/lsw-off.sh
Terminal=true
Icon=/usr/bin/lsw-off.png
Comment=Turn off Linux Subsystem for Windows
NoDisplay=false
Categories=Development